<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapper Fan Page</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <h1>NoodleNate Fan Page</h1>
    </header>

    <nav>
        <a href="index.html"><i class="fas fa-home"></i> Home</a>
        <a href="bio.html"><i class="fas fa-user"></i> Biography</a>
        <a href="discog.html"><i class="fas fa-compact-disc"></i> Albums</a>
    </nav>

    <div class="content">
          <h1 class="header-text">Biography</h1>
        <div class="bio-container">
    
        <div class="bio-image">
            <img src="assets/images/noodlenate.jpg" alt="NoodleNate">
        </div>
        <div class="bio-text">
            <p>
                Meet NoodleNate, the lyrical genius whose rhymes are as flavorful as his favorite dish.
                Born and raised in the bustling streets of Urbania, NoodleNate discovered his passion for rap at a young age.
                Drawing inspiration from the rhythmic clatter of noodle carts and the sizzle of stir-fry pans,
                he found his unique voice in the world of hip-hop.
            </p>
            <p>
                With his clever wordplay and infectious beats, NoodleNate quickly gained a following in the underground rap scene.
                His songs are a vibrant fusion of urban grit and noodle-inspired whimsy, blending gritty street tales with playful odes to his favorite noodle dishes.
                NoodleNate's rise to fame was fueled by his relentless work ethic and unwavering dedication to his craft.
                From late-night freestyle sessions in dimly lit noodle joints to sold-out performances at prestigious venues, 
                he has carved out a niche for himself as the premier noodle-themed rapper in the industry.
                But beyond his musical prowess, NoodleNate is also a philanthropist at heart. 
            </p>
            <p>
                He uses his platform to raise awareness for issues impacting noodle communities worldwide,
                advocating for better access to quality ingredients and promoting cultural exchange through the universal language of rap.
                As he continues to captivate audiences with his infectious energy and undeniable talent, NoodleNate remains true to his roots, 
                always staying grounded in his love for noodles and his commitment to making a positive impact on the world through his music.
            </p>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2024 Rapper Fan Page
    </footer>
</body>
</html>
