<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapper Fan Page</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <h1>Rapper Fan Page</h1>
    </header>

<nav>
    <a href="index.html"><i class="fas fa-home"></i> Home</a>
    <a href="bio.html"><i class="fas fa-user"></i> Biography</a>
    <a href="discog.html"><i class="fas fa-compact-disc"></i> Albums</a>
</nav>
<nav class="nav2">
    <a href="#blue" class="blue"><i class="fas fa-compact-disc"></i> Blue Album</a>
    <a href="#green" class="green"><i class="fas fa-compact-disc"></i> Green Album </a>
    <a href="#red" class="red"><i class="fas fa-compact-disc"></i> Red Album</a>
    <a href="#yellow" class=yellow><i class="fas fa-compact-disc"></i> Yellow Album</a>
</nav>

<div class="container">
    <div class="col-l">
        <!-- Left column content -->
    </div>
    <div class="col-m">
        <!-- Middle colum -->
    <table id="blue">
        <tr>
            <th>Blue album</th>
            <th>Tracks</th>
        </tr>
        <tr>
            <td><img src="assets/images/album_art/blue.jpg" alt="Album Art"></td>
            <td>
                <ol>
                    <li>Track 1</li>
                    <li>Track 2</li>
                    <li>Track 3</li>
                    <li>Track 4</li>
                    <li>Track 5</li>
                    <li>Track 6</li>
                    <li>Track 7</li>
                    <li>Track 8</li>
                    <li>Track 9</li>
                    <li>Track 10</li>
                    <li>Track 11</li>
                    <li>Track 12</li>
                </ol>
            </td>
        </tr>
    </table>

    <table id="green">
        <tr>
            <th>Green album</th>
            <th>Tracks</th>
        </tr>
        <tr>
            <td><img src="assets/images/album_art/green.jpg" alt="Album Art"></td>
            <td>
                <ol>
                    <li>Track 1</li>
                    <li>Track 2</li>
                    <li>Track 3</li>
                    <li>Track 4</li>
                    <li>Track 5</li>
                    <li>Track 6</li>
                    <li>Track 7</li>
                    <li>Track 8</li>
                    <li>Track 9</li>
                    <li>Track 10</li>
                </ol>
            </td>
        </tr>
    </table>

    <table id="red">
        <tr>
            <th>Red album</th>
            <th>Tracks</th>
        </tr>
        <tr>
            <td><img src="assets/images/album_art/red.jpg" alt="Album Art"></td>
            <td>
                <ol>
                    <li>Track 1</li>
                    <li>Track 2</li>
                    <li>Track 3</li>
                    <li>Track 4</li>
                    <li>Track 5</li>
                    <li>Track 6</li>
                    <li>Track 7</li>
                    <li>Track 8</li>
                    <li>Track 9</li>
                    <li>Track 10</li>
                    <li>Track 11</li>
                    <li>Track 12</li>
                </ol>
            </td>
        </tr>
    </table>

    <table id="yellow">
        <tr>
            <th>Yellow album</th>
            <th>Tracks</th>
        </tr>
        <tr>
            <td><img src="assets/images/album_art/yellow.jpg" alt="Album Art"></td>
            <td>
                <ol>
                    <li>Track 1</li>
                    <li>Track 2</li>
                    <li>Track 3</li>
                    <li>Track 4</li>
                    <li>Track 5</li>
                    <li>Track 6</li>
                    <li>Track 7</li>
                    <li>Track 8</li>
                    <li>Track 9</li>
                    <li>Track 10</li>
                </ol>
            </td>
        </tr>
    </table>

    </div>

    <div class="col-r">
        <!-- Right column content -->
    </div>
</div>


    <footer>
        &copy; 2024 Rapper Fan Page
    </footer>
</body>
</html>
